body {
  margin: 0;
}

.edamam {
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  width:40%;
  text-align: center;
  margin-left: 25%;
  padding: 2%;
}
.edamam .edamam__logo {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: block;
}
.edamam .edamam__image {
  border-radius: 20px;
}

a {
  text-decoration: none;
}

.edamam .edamam__title {
  color: #6ACC00
}

.edamam .edamam__text {
  color: #343a40;
}